<!--A basic HTML template which gives a input field and a submit button-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="../static/css/general.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Send message</title>
    </head>
    <body>
    <div class="container">
      <form action="" method="POST">
        <div class="form-group">
          <label>Write a message</label>
          <input type="text" class="form-control" name="message">
        </div>
        <button type="submit" class="btn btn-primary">Sign the document and send</button>
      </form>
      <a href="/getMsg">Click here to see if you have gotten any messages</a>
    </div>
  </body>
</html>